@media (max-width: 768px) {
  #calculator {
    width: auto;
    padding: auto;
    margin: 15px;
    border: solid white 5px;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: "Arial", sans-serif;
  }

  h1 {
    font-size: 30px;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 1em;
    color: rgb(31, 150, 241);
    text-align: center;
  }

  #display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  #input-box {
    width: 80%;
    color: rgb(3, 253, 3);
    background-color: black;
    border: solid rgb(3, 253, 3);
    padding: 15px;
    text-align: right;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  #btn1,
  #btn2,
  #btn3,
  #btn4,
  #btn5,
  #btn6,
  #btn7,
  #btn8,
  #btn9,
  #btn0,
  #btnDot {
    border: 1px solid white;
    padding: 10px;
    color: black;
    width: 30%;
    margin: 1%;
    font-size: 1.5em;
    background-color: white;
  }

  #btnDot {
    color: red;
  }

  #btnAdd,
  #btnSubtract,
  #btnMultiply,
  #btnDivide {
    border: 1px solid white;
    color: red;
    padding: 10px;
    width: 30%;
    margin: 1%;
    font-size: 1.5em;
    background-color: white;
  }

  #btnEqual {
    border: 1px solid white;
    padding: 10px;
    width: 30%;
    margin: 1%;
    font-size: 1.5em;
    background-color: rgb(3, 253, 3);
    color: white;
  }

  #btnClear {
    border: 1px solid white;
    padding: 10px;
    width: 30%;
    margin: 1%;
    font-size: 1.5em;
    background-color: #f44336;
    color: white;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  button {
    width: 48%;
    margin: 1%;
  }

  #cntrl-btns {
    display: flex;
    justify-content: space-between;
  }

  #btnClear {
    border: solid black 3px;
    font-size: 35px;
    color: white;
    margin: 10px;
  }

  #btnClear:hover {
    color:blue;
  }

  #btnEqual {
    border: solid black 3px;
    color: black;
    background-color:rgb(3, 253, 3);
    font-size: 45px;
    margin: 8px;
  }

  a {
    color:rgb(3, 253, 3);
    text-align:center;
    margin:0px;
    padding:0px;
    font-size:30px;
    width:91%;
    border:solid rgb(3, 253, 3)3px;
  }

}
